<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tarea No 4 - Spring MVC Thymeleaf</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <style>
  	label{
  		text-align:right;
  		font-size:16px !important;
  		font-weight: bold !important;
  	}
  </style>

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">N-Capas</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="commons/sidebar :: sidebar" />

    <div id="content-wrapper">

      <div class="container-fluid">
			<h1 class="mt-4">Ingresar Producto</h1>
			<div class="card mb-4">
            	<div class="card-body">
            		<form method="post" th:action="@{/registrar}" th:object="${producto}">
	            		<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="codigo">Código Producto Universal:</label>
	            			<input class="form-control col-sm-6" id="codigo" type="text" placeholder="Ingrese Código Producto" th:field="*{codigo}" />
	            			<span class="col-sm-3" th:errors="*{codigo}" style="color:red;"></span>
            			</div>
            			<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="nombre">Nombre Producto:</label>
	            			<input class="form-control col-sm-6" id="nombre" type="text" placeholder="Ingrese Nombre Producto" th:field="*{nombre}" />
	            			<span class="col-sm-3" th:errors="*{nombre}" style="color:red;"></span>
            			</div>
            			<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="marca">Marca:</label>
	            			<textarea class="form-control col-sm-6" id="marca" placeholder="Ingrese Marca" th:field="*{marca}"></textarea>
	            			<span class="col-sm-3" th:errors="*{marca}" style="color:red;"></span>
            			</div>
            			<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="descripcion">Descripción:</label>
	            			<textarea class="form-control col-sm-6" id="descripcion" placeholder="Ingrese Descripción" th:field="*{descripcion}"></textarea>	
	            			<span class="col-sm-3" th:errors="*{descripcion}" style="color:red;"></span>
            			</div>
            			<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="existencia">Existencia:</label>
	            			<input class="form-control col-sm-6" id="existencia" type="text" placeholder="Ingrese Existencia" th:field="*{existencia}" />
	            			<span class="col-sm-3" th:errors="*{existencia}" style="color:red;"></span>
            			</div>
            			<div class="form-group row">
	            			<label class="small mb-1 col-sm-3" for="fechaingreso">Fecha Ingreso:</label>
	            			<input class="form-control col-sm-6" id="fechaingreso" type="text" placeholder="Ingrese Fecha Ingreso" th:field="*{fechaingreso}" />
	            			<span class="col-sm-3" th:errors="*{fechaingreso}" style="color:red;"></span>
            			</div>
	                    <div class="form-group row">
	                    	<div class="col-sm-8"></div>
	                    	<button type="submit" class="btn btn-success btn-lg col-sm-4">
	                    		<i class='fa fa-plus-circle'></i>
	                    		Guardar Producto
	                    	</button>
                    	</div>
	                </form>
            	</div>
            </div>
      </div>
      <!-- /.container-fluid -->

      

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
